.container-item {
    display: flex;
    padding: 10 px;
    transition: all 0.3s ease 0s;
    margin-top: 5%;
}

.container-item * {
    background-color: rgba(0, 0, 0, 0);
}

.reverse-container-item {
    flex-direction: row-reverse;
}

.item-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 40%;
}

.item-column img {
    height: auto;
    max-width: 60%;
    border-radius: 25%;
    padding: 10px 0;
    margin-left: auto;
    margin-right: auto;
}

.column-header h2 {
    padding-top: 10px;
    font-size: 28px;
    text-align: center;
    color: #35383a;
    font-weight: bold;
    text-transform: uppercase;
}

.column-content {
    margin-bottom: 20px;
    border-bottom-style: solid;
    border-bottom-color: rgb(194, 197, 197);
    border-radius: 3px;
}

.column-content p {
    line-height: 200%;
    text-align: center;
    font-size: 22px;
}

.column-header h2, .column-content p {
    background-color: rgba(226, 226, 226, 0.253);
    
}

.container-text * {
    background-color: rgba(0, 0, 0, 0);
}

.container-text {
    margin-top: 5%;
    background-color: rgba(129, 179, 255, 0.21);
    box-shadow: 2px 2px 3px 4px #ccc;
}

.container-text-header {
    color: #35383a;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 28px;
    padding: 15px 0 0 0;
}

.container-text-content {
    text-align: center;
    padding: 15px 0;
    line-height: 150%;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
    max-width: 55%;
}

@media screen and (max-width: 900px) {
    .container-item {
        display: block;
    }
    .item-column {
        max-width: 90%;
    }
    .container-text-content {
        max-width: 90%;
    }
}