<div class="container">

    <div class="container-item">
        <div class="item-column">
            <img src="../../assets/Screenshot_0000.bmp" alt="" />
        </div>
        <div class="item-column">
            <h2>Header</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quidem similique voluptatum optio quaerat!
                Rerum doloremque magnam dignissimos nobis. Corporis animi molestiae soluta assumenda praesentium, porro
                blanditiis impedit minus quae.</p>
        </div>
    </div>

</div>