<div class="container">

    <h2>Регистрация новой учетной записи</h2>

    <form novalidate [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">

        <label class="user-type-label" for="user-type">Тип учетной записи</label>
        <div class="user-type" name="user-type">
            <div class="user-radiobtn">
                <input id="radio-1" type="radio" name="user" value="Customer" formControlName="user" (change)="onUserChanged($event)">
                <label for="radio-1">Заказчик</label>
                <p>Вы сможете размещать заказы на выполнение работ и осуществлять поиск исполнителей по необходимым
                    критериям.
                </p>
            </div>

            <div class="user-radiobtn">
                <input id="radio-2" type="radio" name="user" value="Builder" formControlName="user" (change)="onUserChanged($event)">
                <label for="radio-2">Исполнитель</label>
                <p>Вы сможете предоставлять строительные услуги заказчикам и осуществлять поиск интересующих заказов.
                </p>
            </div>
        </div>

        <div class="input-container">
            <input id="email" formControlName="email" type="text" placeholder="Адрес эл. почты">

            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="validation-error">
                <div *ngIf="email.errors.required">
                    Это поле обязательное.
                </div>
                <div *ngIf="email.errors.email">
                    Не верный формат электронного адреса.
                </div>
            </div>
        </div>

        <div class="input-container">
            <input id="lname" formControlName="lname" type="text" placeholder="Фамилия">

            <div *ngIf="lname.invalid && (lname.dirty || lname.touched)" class="validation-error">
                <div *ngIf="lname.errors.required">
                    Это поле обязательное.
                </div>
            </div>
        </div>

        <div class="input-container">
            <input id="fname" formControlName="fname" type="text" placeholder="Имя">

            <div *ngIf="fname.invalid && (fname.dirty || fname.touched)" class="validation-error">
                <div *ngIf="fname.errors.required">
                    Это поле обязательное.
                </div>
            </div>
        </div>

        <div class="input-container">
            <input id="patronymic" formControlName="patronymic" type="text" placeholder="Отчество">

            <div *ngIf="patronymic.invalid && (patronymic.dirty || patronymic.touched)" class="validation-error">
                <div *ngIf="patronymic.errors.required">
                    Это поле обязательное.
                </div>
            </div>
        </div>

        <div class="input-container">
            <input id="city" list="citiesReadable" formControlName="city" type="text" placeholder="Город">
            <datalist id="citiesReadable">
                <option *ngFor="let c of cityService.citiesReadable" [value]="c"></option>
            </datalist>

            <div *ngIf="city.invalid && (city.dirty || city.touched)" class="validation-error">
                <div *ngIf="city.errors.required">
                    Это поле обязательное.
                </div>

                <div *ngIf="city.errors.wrongCity">
                    Выберите город из списка.
                </div>
            </div>
        </div>

        <div class="input-container" *ngIf="userType === 'Builder'">
            <input id="companyName" formControlName="companyName" type="text" placeholder="Название компании">
        </div>

        <div class="input-container" *ngIf="userType === 'Builder'">
            <textarea id="companyDescription" formControlName="companyDescription" rows="4" placeholder="Описание компании"></textarea>
        </div>

        <div class="input-container">
            <label for="dateofbirth">Дата рождения</label>
            <input id="birthDate" formControlName="birthDate" type="date" name="dateofbirth">

            <div *ngIf="birthDate.invalid && (birthDate.dirty || birthDate.touched)" class="validation-error">
                <div *ngIf="birthDate.errors.required">
                    Это поле обязательное.
                </div>
                <div *ngIf="birthDate.errors.wrongDate">
                    Неверное значение даты.
                </div>
            </div>
        </div>

        <div class="input-container">
            <input id="password" formControlName="password" type="text" placeholder="Пароль" required>

            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="validation-error">
                <div *ngIf="password.errors.required">
                    Это поле обязательное.
                </div>
                <div *ngIf="password.errors.minlength">
                    Минимальная длина - 6 символов.
                </div>
            </div>
        </div>

        <div class="input-container">
            <input id="confirmedPassword" formControlName="confirmedPassword" type="text" placeholder="Повторите пароль" required>

            <div *ngIf="confirmedPassword.invalid && (birthDate.dirty || confirmedPassword.touched)" class="validation-error">
                <div *ngIf="confirmedPassword.errors.required">
                    Это поле обязательное.
                </div>
                <div *ngIf="confirmedPassword.errors.valuesMissmatch">
                    Пароли не совпадают.
                </div>
            </div>
        </div>

        <div class="registration">
            <input type="submit" [disabled]="registerForm.invalid" value="Зарегистрировать">
        </div>

    </form>

</div>