<div class="container">

    <div class="container-item">
        <div class="item-column">
            <img src="../../assets/1.jpg" alt="" />
        </div>
        <div class="item-column">
            <div class="column-header">
                <h2>About our company</h2>
            </div>
            <div class="column-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quidem similique
                    voluptatum optio quaerat!
                    Rerum doloremque magnam dignissimos nobis. Corporis animi molestiae soluta assumenda praesentium,
                    porro
                    blanditiis impedit minus quae.</p>
            </div>

        </div>
    </div>

    <div class="container-text">
        <p class="container-text-header">It's important!</p>
        <p class="container-text-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta laborum sed
            voluptatibus itaque architecto odio
            porro nihil dicta unde omnis magnam inventore, minus veritatis maxime nesciunt voluptate ipsam dignissimos
            officiis.</p>
    </div>

    <div class="container-item reverse-container-item">
        <div class="item-column">
            <img src="../../assets/2.jpg" alt="" />
        </div>
        <div class="item-column">
            <div class="column-header">
                <h2>What we offer?</h2>
            </div>
            <div class="column-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quidem similique
                    voluptatum optio quaerat!
                    Rerum doloremque magnam dignissimos nobis. Corporis animi molestiae soluta assumenda praesentium,
                    porro
                    blanditiis impedit minus quae.</p>
            </div>

        </div>
    </div>

    <div class="container-text">
        <p class="container-text-header">Use case</p>
        <p class="container-text-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore, adipisci,
            pariatur praesentium tempora nihil reprehenderit, incidunt earum et officia vero voluptatem quas
            perspiciatis iusto libero eos laudantium magni dignissimos sapiente.</p>
    </div>

    <div class="container-item">
        <div class="item-column">
            <img src="../../assets/2.jpg" alt="" />
        </div>
        <div class="item-column">
            <div class="column-header">
                <h2>Get subscribe</h2>
            </div>
            <div class="column-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quidem similique
                    voluptatum optio quaerat!
                    Rerum doloremque magnam dignissimos nobis. Corporis animi molestiae soluta assumenda praesentium,
                    porro
                    blanditiis impedit minus quae.</p>
            </div>

        </div>
    </div>

</div>