/*-----HEADER-----*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: #35383a;
}

header * {
    color: white;
    background-color: rgba(0, 0, 0, 0);
}

header a h1 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
}

header ul {
    list-style: none;
}

header ul li {
    display: inline-block;
    padding: 0px 15px;
}

header ul li a, footer ul li a {
    transition: all 0.3s ease 0s;
}

.logout-container {
    display: flex;
    flex-direction: column;
}

.logout-container button {
    border-radius: 25px;
    background-color: #282a2b;
    border: none;
    cursor: pointer;
    margin: 0 25px;
    outline: none;
    transition: all 0.3s ease 0s;
}

header ul li a:hover, footer ul li a:hover {
    color: #b3bb00;
}

header .a_auth button {
    padding: 25px 25px;
    background-color: #282a2b;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    outline: none;
    transition: all 0.3s ease 0s;
}

header .a_auth button:hover, .logout-container button:hover{
    background-color: rgb(255, 255, 255);
    color: #35383a;
    font-weight: bold;
}

/*-----FOOTER-----*/

footer {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 10px 5%;
    background-color: rgba(0, 0, 0, 0.8);
}

footer * {
    color: white;
    background-color: rgba(0, 0, 0, 0);
}

footer ul {
    margin-top: 15px;
    list-style: none;
}

footer ul li {
    text-align: center;
    padding: 5px 0;
}

footer p {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 50%;
}