<div>

  <header>
    <a routerLink="/">
      <h1>Construction quality control</h1>
    </a>

    <nav>
      <ul>
        <li *ngIf="IsUserCustomer()"><a routerLink="Orders">Мои заказы</a></li>
        <li><a routerLink="City">About</a></li>
        <li><a routerLink="City">Company</a></li>
        <li><a routerLink="City">Contacts</a></li>
      </ul>
    </nav>

    <a routerLink="/Auth" class="a_auth" *ngIf="userName == undefined"><button>Войти</button></a>
    <div class="logout-container" *ngIf="userName">
      <p>{{userName}}</p>
      <button (click)="logout()">Выйти</button>
    </div>

  </header>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <footer>
    <ul>
      <li><a routerLink="City">City</a></li>
      <li><a routerLink="City">Home</a></li>
      <li><a routerLink="City">About</a></li>
      <li><a routerLink="City">Company</a></li>
    </ul>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae voluptas totam minus, reprehenderit dolore hic
      deserunt dolorum eius voluptates laborum architecto accusantium cupiditate cum in molestiae soluta, consequuntur
      nobis eum.</p>
  </footer>

</div>