<div>

  <header>

    <div class="header-full">
      <a routerLink="/">
        <h1>Construction quality control</h1>
      </a>

      <nav>
        <ul>
          <li *ngIf="IsUserCustomer()"><a routerLink="Orders">Мои заказы</a></li>
          <li *ngIf="IsUserBuilder()"><a routerLink="Works">Мои работы</a></li>
          <li *ngIf="IsUserCustomer()"><a routerLink="Orders/NewOrder">Создать заказ</a></li>
          <li *ngIf="IsUserBuilder()"><a routerLink="Works/Find">Найти заказ</a></li>
        </ul>
      </nav>

      <a routerLink="/Auth" class="a_auth" *ngIf="userName == undefined"><button>Войти</button></a>
      <div class="logout-container" *ngIf="userName">
        <p>{{userName}}</p>
        <button (click)="logout()">Выйти</button>
      </div>
    </div>

    <div class="hamburger-menu">
      <input id="menu__toggle" type="checkbox" (click)="changeVisibility()" />
      <label class="menu__btn" for="menu__toggle">
        <span></span>
      </label>
    </div>

    <div class="header-hamburger" id="h-menu">

      <div *ngIf="userName">
        <p class="header-hamburger-username">{{userName}}</p>
        <button class="simple-button" (click)="logout()">Выйти</button>
      </div>

      <ul class="header-hamburger-nav">
        <li><a routerLink="/">На главную</a></li>
        <li><a routerLink="/Auth" class="a_auth" *ngIf="userName == undefined">Войти</a></li>
        <li *ngIf="IsUserCustomer()"><a routerLink="Orders">Мои заказы</a></li>
        <li *ngIf="IsUserBuilder()"><a routerLink="Works">Мои работы</a></li>
        <li *ngIf="IsUserCustomer()"><a routerLink="Orders/NewOrder">Создать заказ</a></li>
        <li *ngIf="IsUserBuilder()"><a routerLink="Works/Find">Найти заказ</a></li>
      </ul>

    </div>

  </header>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <footer>
    <ul>
      <li><a routerLink="/">На главную</a></li>
      <li *ngIf="IsUserCustomer()"><a routerLink="Orders">Мои заказы</a></li>
      <li *ngIf="IsUserBuilder()"><a routerLink="Works">Мои работы</a></li>
      <li *ngIf="IsUserCustomer()"><a routerLink="Orders/NewOrder">Создать заказ</a></li>
      <li *ngIf="IsUserBuilder()"><a routerLink="Works/Find">Найти заказ</a></li>
    </ul>
    <p>Сайт создан для учебных целей.</p>
  </footer>

</div>