/*-----HEADER-----*/

.header-full {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: #35383a;
}

.header-full * {
    color: white;
    background-color: rgba(0, 0, 0, 0);
}

.header-full a h1 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
}

.header-full ul li {
    display: inline-block;
    padding: 0px 15px;
}

.content {
    min-height: 80vh;
}

.logout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logout-container button {
    border-radius: 25px;
    background-color: #282a2b;
    border: none;
    cursor: pointer;
    margin: 0 25px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
}

.header-full ul li a:hover, footer ul li a:hover {
    color: #b3bb00;
}

.header-full .a_auth button {
    padding: 25px 25px;
    background-color: #282a2b;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    outline: none;
}

.header-full .a_auth button:hover, .logout-container button:hover {
    background-color: rgb(255, 255, 255);
    color: #35383a;
    font-weight: bold;
}

.header-hamburger {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #35383a;
    padding-top: 10px;
}

.header-hamburger *, .hamburger-menu * {
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
}

.header-hamburger-nav {
    margin-top: 15px;
    margin-bottom: 25px;
}

.header-hamburger-nav li {
    margin-top: 10px;
    padding: 0px 10px;
    border: 2px solid rgb(181, 205, 207);
    border-radius: 5px;
}

.header-hamburger-nav a {
    color: white;
}

.hamburger-menu {
    display: none;
    height: 0px;
}

.header-hamburger-username {
    font-weight: bold;
    color: white;
}

/* скрываем чекбокс */

#menu__toggle {
    opacity: 0;
    height: 0px;
}

.menu__btn {
    display: flex;
    /* используем flex для центрирования содержимого */
    align-items: center;
    /* центрируем содержимое кнопки */
    position: fixed;
    top: 20px;
    left: 20px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 1;
}

/* добавляем "гамбургер" */

.menu__btn>span, .menu__btn>span::before, .menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

@media screen and (max-width: 900px) {
    .header-full {
        display: none;
    }
    .hamburger-menu {
        display: block;
    }
}

/*-----FOOTER-----*/

footer {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 10px 5% 30px 5%;
    background-color: rgba(0, 0, 0, 0.8);
}

footer * {
    color: white;
    background-color: rgba(0, 0, 0, 0);
}

footer ul {
    margin-top: 15px;
    list-style: none;
}

footer ul li {
    text-align: center;
    margin-top: 15px;
}

footer p {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 50%;
}