<div class="container">

    <h2>Создание нового заказа</h2>

    <form novalidate [formGroup]="newOrderForm" (ngSubmit)="onSubmit(newOrderForm)">

        <div class="input-container">
            <input id="title" formControlName="title" type="text" placeholder="Название заказа">

            <div *ngIf="title.invalid && (title.dirty || title.touched)" class="validation-error">
                <div *ngIf="title.errors.required">
                    Это поле обязательное.
                </div>
            </div>
        </div>

        <div class="input-container">
            <input id="city" list="cities" formControlName="city" type="text" placeholder="Город">
            <datalist id="cities">
                <option *ngFor="let c of cities" [value]="c"></option>
            </datalist>

            <div *ngIf="city.invalid && (city.dirty || city.touched)" class="validation-error">
                <div *ngIf="city.errors.required">
                    Это поле обязательное.
                </div>

                <div *ngIf="city.errors.wrongCity">
                    Выберите город из списка.
                </div>
            </div>
        </div>

        <div class="tree-container">
            <ol>
                <li class="tree-root-element" *ngFor="let order of rootOrder.subOrders"><app-order-new-child [subRootOrder]="order"></app-order-new-child></li>
            </ol>
            
            <button type="button" (click)="onSubOrderAdded()" class="simple-button">Добавить заказ</button>
        </div>

        <div class="creating">
            <input type="submit" [disabled]="newOrderForm.invalid" value="К оплате">
        </div>
    </form>

</div>