<div class="container">

    <h2>Регистрация новой учетной записи</h2>

    <div class="user-type-header">Тип учетной записи</div>
    <div class="user-type" name="user-type">
        <div class="user-radiobtn">
            <input id="radio-1" type="radio" name="radio" value="1">
            <label for="radio-1">Заказчик</label>
            <p>Вы сможете размещать заказы на выполнение работ и осуществлять поиск исполнителей по необходимым
                критериям.
            </p>
        </div>

        <div class="user-radiobtn">
            <input id="radio-2" type="radio" name="radio" value="2">
            <label for="radio-2">Исполнитель</label>
            <p>Вы сможете предоставлять строительные услуги заказчикам и осуществлять поиск интересующих заказов.</p>
        </div>
    </div>

    <div class="input-container">
        <input type="text" placeholder="Адрес эл. почты" required>
    </div>

    <div class="input-container">
        <input type="text" placeholder="Фамилия" required>
    </div>

    <div class="input-container">
        <input type="text" placeholder="Имя" required>
    </div>

    <div class="input-container">
        <input type="text" placeholder="Отчество" required>
    </div>

    <div class="input-container">
        <input type="text" placeholder="Город" required>
    </div>

    <div class="input-container">
        <input type="text" placeholder="Название компании" required>
    </div>

    <div class="input-container">
        <textarea rows="4" placeholder="Описание компании"></textarea>
    </div>

    <div class="input-container">
        <label for="dateofbirth">Дата рождения</label>
        <input type="date" name="dateofbirth">
    </div>

    <div class="input-container">
        <input type="text" placeholder="Пароль" required>
    </div>

    <div class="input-container">
        <input type="text" placeholder="Повторите пароль" required>
    </div>

    <div class="registration">
        <button type="button" class="registerbtn" routerLink="/Registration">Зарегистрировать</button>
    </div>
</div>