<div class="container">

    <div class="panel">
        <nav>
            <ul>
                <li><button routerLink="NewOrder" class="simple-button">Создать заказ</button></li>
            </ul>
        </nav>
    </div>

    <div class="orders-container">
        <div *ngFor="let order of orders" class="order">
            <div class="order-name">
                <div class="name-container">
                    {{order.demands}}
                </div>
                <div class="city-container">
                    {{order.city.name}}, {{order.city.region.name}}
                </div>
            </div>

            <div class="order-status">

                <div *ngIf="order.workOffers.length > 0 && !order.isStarted; then contentButton else contentText"></div>
                
                <ng-template #contentButton><div class="order-status-item" ><button (click)="chooseWorker(order)" class="choose-button">{{getWorker(order)}}</button></div></ng-template>
                <ng-template #contentText><div class="order-status-item" >{{getWorker(order)}}</div></ng-template>
                <div class="order-status-item">{{getOrderStatus(order)}}</div>
                
            </div>

            <div class="order-buttons-container">
                <button class="simple-button" (click)="getInfo(order)">Подробнее</button>
                <button *ngIf="!order.isStarted" class="simple-button">Удалить</button>
            </div>

            <div class="order-date">
                {{getFormatedDate(order.creationDate)}}
            </div>
        </div> 
    </div>

</div>