
<div class="container">

    <div class="panel">
        <nav>
            <ul>
                <li><button routerLink="NewOrder" class="simple-button">Создать заказ</button></li>
            </ul>
        </nav>
    </div>

    <div class="orders-container">
        <div *ngFor="let order of orders" class="order">
            <div class="order-name">
                {{order.demands}}
            </div>
            <div class="order-date">
                {{getFormatedDate(order.creationDate)}}
            </div>
        </div> 
    </div>

</div>