.container {
    max-width: 90%;
    margin: 10px auto;
}

.panel {
    display: flex;
    padding: 1%;
    margin-bottom: 2%;
    justify-content: space-around;
}

.order {
    max-width: 70%;
    margin: 10px auto;
    border: 2px solid rgb(181, 205, 207);
    border-radius: 2px;
    padding: 15px;
}

.order-name {
    border-bottom: 1px solid rgb(181, 205, 207);
    display: flex;
    justify-content: space-between;
}

.name-container {
    font-size: 18px;
}

.city-container {
    opacity: 0.5;
    margin-right: 10px;
}

.order-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px auto;
}

.order-buttons-container button {
    padding: 1px 10px;
    margin: 0 5px;
}

.order-status {
    display: flex;
    justify-content: space-between;
}

.order-status-item {
    margin: 5px 10px;
    color: black;
    opacity: 0.5;
}

.order-date {
    font-size: 10px;
    text-align: right;
    color: rgba(0, 0, 0, 0.5);
}

.choose-button {
    border: none;
    color: rgb(0, 0, 255);
}

.choose-button:hover {
    text-decoration: underline;
}

@media screen and (max-width: 900px) {
    .order-status, .order-name {
        flex-direction: column;
    }
    .order-buttons-container {
        justify-content: center;
    }
    .order-buttons-container button {
        min-width: 45%;
    }
    .panel {
        flex-direction: column;
        align-items: center;
    }
    .panel-filter {
        margin-top: 10px;
    }
}