
<div class="container">

    <div class="panel">
        <nav>
            <ul>
                <li><button routerLink="NewOrder" class="simple-button">Создать заказ</button></li>
            </ul>
        </nav>
    </div>

    <div class="orders-container">
        <div *ngFor="let order of orders" class="order">
            <div class="order-name">
                <div class="name-container">
                    {{order.demands}}
                </div>
                <div class="city-container">
                    {{order.city.name}}, {{order.city.region.name}}
                </div>
            </div>

            <div class="order-status">
                <div class="order-status-item">{{getWorker(order)}}</div>
                <div class="order-status-item">{{getOrderStatus(order)}}</div>
            </div>

            <div class="order-buttons-container">
                <button class="simple-button">Подробнее</button>
                <button class="simple-button">Удалить</button>
            </div>

            <div class="order-date">
                {{getFormatedDate(order.creationDate)}}
            </div>
        </div> 
    </div>

</div>