.container {
    max-width: 90%;
    margin: 10px auto;
}

h3 {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}

.panel {
    display: flex;
    justify-content: center;
    padding: 1%;
    margin-bottom: 2%;
    border-bottom: 2px solid rgba(181, 205, 207, 0.5);
}

.input-container {
    min-width: 45%;
    align-self: stretch;
    margin-right: 15px;
}

button:disabled {
    opacity: 0.5;
}

.input-header {
    display: flex;
    justify-content: left;
    align-items: center;
}

.input-header input[type=checkbox] {
    width: 15px;
    height: 15px;
}

.work {
    margin: 20px auto;
    border: 2px solid #485258;
    border-radius: 2px;
    padding: 15px;
}

.work-name {
    border-bottom: 1px solid rgb(181, 205, 207);
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.work-name-container {
    display: flex;
}

.work-name-date, .work-footer-price-text, .work-name-city {
    opacity: 0.5;
}

.work-footer {
    display: flex;
    justify-content: space-between;
}

.work-footer-price {
    display: inline-flex;
}

.work-footer-price-value, .work-name-city {
    margin: 0px 5px;
}

@media screen and (max-width: 900px) {
    .panel {
        flex-direction: column;
    }
    .input-header input[type=checkbox] {
        width: 20px;
        height: 20px;
    }
    .work-name-container {
        flex-direction: column;
    }
    .work-name-city {
        margin: 0px;
    }
    .input-container {
        margin-right: 0px;
    }
}