<div class="container">

    <form novalidate [formGroup]="worksForm">
        <div class="panel">

            <div class="input-container">
                <input id="city" list="citiesReadable" formControlName="city" type="text" placeholder="Город">
                <datalist id="citiesReadable">
                    <option *ngFor="let c of cityService.citiesReadable" [value]="c"></option>
                </datalist>

                <div *ngIf="city.invalid && (city.dirty || city.touched)" class="validation-error">
                    <div *ngIf="city.errors.required">
                        Это поле обязательное.
                    </div>

                    <div *ngIf="city.errors.wrongCity">
                        Выберите город из списка.
                    </div>
                </div>
            </div>

        </div>

        <p *ngFor="let work of works">
            {{work.demands}}
        </p>
    </form>
</div>